*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.header{
    background-color: black;
    color: grey;
    gap: 50px;
    padding-top: 2.3vh;
    padding-bottom: 2vh;
    padding-left: 4.4vw;
    gap: 1.5vw;
    display: flex;
    align-items: center;
}
.text{
    font-size: small;
    opacity: 0.8;
}
.menu{
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.layout{
    font-size: 20px;
    
}
.headingm{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
    gap:0.5em;
    padding-top: 5vh;
    padding-bottom: 0.5vh;
}
.heading{
    font-weight: 500;
    opacity: 0.9;
}
.secondary_text{
    margin-top: 1.3vh;
    color: rgb(129, 126, 126);
}
.hr{
    margin:1vh 5vw 2.5vh 5vw;
    border-top: 1px solid rgb(237, 237, 241);

}
.box{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 1vw;
    gap: 1.2vw;
    margin-bottom: 6vh;
}
.card{
    width: 28.7vw;
    margin-bottom: 3vh;
}
img{
    width: 100%;
  }
.project_name{
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: large;
    color:#2f96e0;
}
.copyright{
    margin-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 7vh;
    opacity: 0.8;
    font-size: small;
}
  @media screen and (max-width: 850px){
    .card{
        width: 43.4vw
    }
  }
  @media screen and (max-width: 760px){
    .card{
        width: 43.2vw;
    }
  }
  @media screen and (max-width: 621px){
    .card{
        width: 43vw;
    }
  }
  @media screen and (max-width: 558px){
    .card{
        width: 42.8vw;
    }
  }
  @media screen and (max-width: 480px){
    .card{
        width: 42.6vw;
    }
  }
  @media screen and (max-width: 480px){
    .card{
        width: 42.6vw;
    }
  }
  @media screen and (max-width: 435px){
    .card{
        width: 42.4vw;
    }
  }
  @media screen and (max-width:400px){
    .card{
        width: 85.6vw;
    }
    .layout{
        font-size: 17px;
    }
    .heading{
        font-size: larger;
    }
    .secondary_text{
        margin-top: 0.5vh;
    }
    .header{
        padding-left: 0;
        justify-content: space-around;
        
    }
  }
  @media screen and (max-width: 370px){
    .card{
        width: 85.3vw;
    }
  }
  @media screen and (max-width: 340px){
    .card{
        width: 85vw;
    }
  }
  @media screen and (max-width: 320px){
    .card{
        width: 84.6vw;
    }
  }
  @media screen and (max-width: 310px){
    .card{
        width: 84.3vw;
    }
  }
  @media screen and (max-width: 290px){
    .card{
        width: 84vw;
    }
  }
  @media screen and (max-width: 268px){
    .card{
        width: 83.7vw;
    }
    .headingm{
        display: block;
    }
    .header{
        display: block;
    }
  }





  
  