* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.header {
  background-color: black;
  color: grey;
  padding-top: 2.1vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  gap: 0.5vw;
  display: flex;
  align-items: center;
}
.text {
  font-size: small;
  opacity: 0.8;
}
.menu {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  font-size: small;
  margin-top: 0.1vh;
}
.headingm {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5vw;
  gap: 0.5em;
  padding-top: 5vh;
  padding-bottom: 0.3vh;
  align-items: center;
}
.hr2 {
  margin-left: 5.01vw;
  margin-right: 5vw;
  border-top: 1px solid rgb(237, 237, 241);
}
.heading {
  font-weight: 500;
  opacity: 0.8;
}
.secondary_text {
  color: rgb(129, 126, 126);
  font-size: 21px;
  margin-top: 0;
}
.hr {
  margin-left: 5.01vw;
  margin-right: 5vw;
  margin-top: 1vh;
  margin-bottom: 3.5vh;
  border-top: 1px solid rgb(237, 237, 241);
}
.box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5vw;
  margin-right: 5vw;
  gap: 1.5vw;
  margin-bottom: 4vh;
  width: 90vw;
}
.card {
  width: 28.26vw;
  margin-bottom: 3vh;
}
img {
  width: 100%;
}
.project_name {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  font-size: large;
  color: #2f96e0;
}
.copyright {
  margin-left: 5vw;
  padding-top: 6vh;
  padding-bottom: 6vh;
  opacity: 0.8;
  font-size: small;
}
@media screen and (min-width: 1801px) and (max-width: 2550px) {
  .text,
  .menu,
  .copyright {
    font-size: 28px;
    margin-top: 0.7vh;
  }
  .menu {
    margin-top: 0;
  }
  .layout {
    font-size: 37px;
  }
  .project_name {
    font-size: 32px;
  }
  .heading {
    font-size: 48px;
  }
  .headingm {
    gap: 0.6vw;
  }
  .secondary_text {
    margin-top: 0.9vh;
    font-size: 34px;
  }
  .hr {
    width: 90vw;
  }
  .card {
    width: 29vw;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .text,
  .copyright {
    font-size: 18px;
  }
  .menu{
    font-size: 14px;
  }
  .layout {
    font-size: 20px;
  }
  .secondary_text {
    margin-top: 1.1vh;
    font-size: 20px;
  }
  .hr {
    width: 87.8vw;
  }
  .box {
    gap: 2.1vw;
  }
  .card {
    width: 28.6vw;
  }
  .hr {
    gap: 1.5vw;
    width: 90vw;
  }
  .project_name {
    font-size: 26px;
  }
  .text {
    font-size: 23px;
  }
  .heading{
    font-size: 30px;
  }
}
@media screen and (min-width: 851px) and (max-width: 1200px) {
  .secondary_text {
    margin-top: 0.9vh;
    font-size: 20px;
  }
  .hr {
    width: 90vw;
  }
  .card {
    width: 29vw;
  }
  .layout {
    font-size: 20px;
  }
  .menu {
    font-size: 15px;
    margin-top: 0.2vh;
  }
  .heading{
    font-size: 30px;
  }
}
@media screen and (max-width: 850px) {
  .card {
    width: 43.4vw;
  }
  .heading{
    font-size: 28px;
  }
  .box {
    gap: 3vw;
  }
  .secondary_text {
    margin-top: 0.7vh;
  }
  .layout {
    font-size: 16px;
  }
  .menu {
    font-size: 12px;
  }
  .header {
    gap: 2vw;
  }
  .project_name {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}
@media screen and (max-width: 426px) {
  .card {
    width: 90vw;
  }
  .heading {
    font-size: x-large;
    width: fit-content;
  }

  .header {
    flex-flow: column;
    justify-content: center;
    padding-left: 0;
    gap: 2vh;
  }
  .secondary_text {
    font-size: 18px;
  }
  .hr2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .copyright {
    padding-top: 3vh;
    padding-bottom: 4vh;
  }
  .box {
    margin-bottom: 2vh;
    gap: 0;
  }
  .project_name {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .menu {
    font-size: 17px;
  }
}
